{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@emotion",
      {
        "autoLabel": "dev-only",
        "labelFormat": "[dirname]-[filename]-[local]"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy" : true 
      }
    ]
  ]
}
